body {
    background:#690505;
    color: #ffd; /*#800000*/
    font-family: sans-serif;
}

p, h1, h2, h3, h4, h5, h6{
    color: white;
    text-align:center;
}

button{
    text-align:center;
    border-radius: 2%;
    background-color: white;
}


button:hover {
    color: red;

}

.links {
    height: auto;
    width: 200px;
    position: fixed;
    margin: 0 auto;
    display: block;
}

/* Css is the design language of a site, it controls the background color, font, placement of stuff, animations, etc,*/