body {
    background: #690505;
    color: #ffd;
    /*#800000*/
    font-family: sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    text-align: center;
}

button {
    text-align: center;
    border-radius: 2%;
    background-color: white;
}


button:hover {
    color: red;

}

#tutor-list {
    margin: 0 auto;
    color: black;
    background-color: #ffff;
    border: black;
}

#club-table {
    margin: 0 auto;
    color: black;
    background-color: #ffff;
    border: black;

}

.link-header {
    text-align: center;
    height: auto;
    width: auto;
    margin: 0 auto;

}

#club-search-div {
    text-align: center;
    margin: 0 auto;
    height: auto;
    width: auto;
    padding-bottom: 50px;
}

input {
    text-align: center;
    height: 40%;
    width: 40%;
    border-radius: 10px;
}

#announcements-section {
    text-align: center;
    height: auto;
    width: auto;
    margin: 0 auto;
}

.announcemnet {

    height: 1152px;
    width: 864px;
}

/* Css is the design language of a site, it controls the background color, font, placement of stuff, animations, etc,*/